<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloworld" class="firstSpringApp.HelloWorld"></bean>
	
	<bean id="person" class="firstSpringApp.Person">
		<property name="name" value="Yosuva"></property>
		<property name="age" value="25"></property>
	</bean>
	<bean id="userList" class="firstSpringApp.UsersList" autowire="byType">
	</bean>
</beans>
